{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block extra_tab %}
<li id="nav_partenaires">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Risk Management Tools' %}<i class="fa fa-angle-down fa-lg"></i></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'risks_cost_benefit_index' %}">{% trans "Cost/Benefit Analysis & Decision Tool" %}</a></li>
        <li><a href="{% url 'risks_risk_data_extraction_index' %}">{% trans "Risk Data Extraction & Visualization" %}</a></li>
    </ul>
</li>
{{ block.super }}
{% endblock %}
