{% extends "geonode_base.html" %}
{% load i18n static %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}documents{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2 class="page-title">{% block risks_page_title %}{% endblock %}</h2>
</div>
<div class="row">
    <div class="col-xs-8">  {% block body %}{% endblock body %}</div>
    <div class="col-xs-4">{% block sidebar %}{% endblock sidebar %}</div>
</div>
{% endblock body_outer %}






{% block extra_script %}
{{ block.super }}
<link href="{% static "css/vendor/leaflet.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "js/vendor/leaflet.js" %}">
</script>
<script type="text/javascript" src="{% static "js/risks-map.js" %}"></script>

{% endblock %}
