# native dependencies
Pillow==6.2.2
lxml==4.4.2
defusedxml==0.6.0
psycopg2==2.8.4
Django==1.11.27

# Other
amqp==2.2.2 # (python-amqp 2.2.2 in our ppa)
anyjson<=0.3.3 # (python-anyjson 0.3.3 in our ppa)
arrow==0.12.1 # (python-arrow 0.12.1 in our ppa)
# attrs==17.4.0 # (python-attrs 17.4.0 in our ppa)
attrs==19.2.0
PyYAML<=3.12 # (python-pyyaml 3.12 in out ppa)
beautifulsoup4<=4.4.1 # python-bs4 (4.4.1)
billiard<=3.5.0.3 # (python-billiard 3.5.0.3 in our ppa)
MultipartPostHandler<=0.1.0 # python-multipartposthandler (0.1.0)
httplib2<=0.10.3 # python-httplib2 (0.10.3 in our ppa)
transifex-client<=0.12.4 # transifex-client (0.11.1)
Paver<=1.2.4 # python-paver (1.2.4)
Unidecode<=0.4.19 # python-unidecode (0.04.19)
django-nose<=1.4.5 # python-django-nose (1.4.5 in our ppa)
nose<=1.3.7 # python-nose (1.3.7)
awesome-slugify<=1.6.5 # python-awesome-slugify (1.6.5)
django-filter==1.1.0 # python-django-filter (1.1.0 in our ppa)
django-floppyforms<=1.7.0 # python-django-floppyforms (1.7.0 in our ppa)
chardet<=3.0.4 # python-chardet (3.0.4 in our ppa)
decorator<=4.1.2 # python-decorator (4.1.2 in our ppa)
celery>4.0a0c,<=4.1.0 # python-celery (4.1.0)
certifi<=2018.1.18 # depends on python-elasticsearch - python-certifi (2018.1.18 in our ppa)
click==6.7 # python-click (6.7 in our ppa)
coreapi==2.3.3 # python-coreapi (2.3.3 in our ppa)
coreschema==0.0.4 # python-coreschema (0.0.4 in our ppa)
autoflake<=0.7 # python-autoflake (0.7 in our ppa)
flake8>=2.6.2,<=3.5.0 # python-flake8 (2.5.4) FIXME
pycodestyle<=2.3.0 # missing TODO
pyflakes>=1.2.3,<=1.6.0 # python-pyflakes (1.6.0 in our ppa) FIXME
pep8<=1.7.1 # python-pep8 (1.7.1 in our ppa)
boto<=2.38.0 # python-boto (2.38.0)
six<1.11.0 # https://github.com/benjaminp/six/issues/210 (1.10.0 in ppa)
diff-match-patch<=20121119 # (20121119 in ppa)
tqdm==4.23.3

# Django Apps
dj-pagination<=2.3.2 # python-dj-pagination (2.3.2 in our ppa)
django-celery-monitor<=1.1.2
django-extensions>=1.2.5,<=2.0.7 # python-django-extensions (2.0.3 in our ppa)
django-jsonfield<=1.0.1 # python-django-jsonfield (0.9.15, 1.0.1 in our ppa)
django-jsonfield-compat<=0.4.4 # python-django-jsonfield-compat (0.4.4 in our ppa)
django-leaflet<=0.23.0 # python-django-leaflet (0.23.0 in our ppa)
django-taggit<=0.22.2 # python-django-taggit (0.22.1 in our ppa)
django-mptt<=0.9.0 # django-mptt (0.9.0 in our ppa)
django-treebeard<=4.2.1 # django-treebeard (4.2.1 in our ppa)
django-guardian<=1.4.9 # django-guardian (1.4.9 in our ppa)
django-downloadview<=1.9 # python-django-downloadview (1.9 in our ppa)
django-polymorphic<2.0 # python-django-polymorphic (1.3)
# django-rest-swagger==2.1.2 # python-django-rest-swagger (2.1.2 in our ppa)
django-reversion<=2.0.13 # python-django-reversion (2.0.13 in our ppa)
django-suit<=0.2.26 # python-django-suit (0.2.26 in our ppa)
django-tastypie<=0.14.0 # python-django-tastypie (0.14.0 in our ppa)
django-invitations<=1.9.2 # python-django-invitations (1.9.2 in our ppa)
django-oauth-toolkit>=0.10.0,<1.0 # python-django-oauth-toolkit (0.12.0 in our ppa)
# djangorestframework<=3.7.7 # TODO
# djangorestframework-gis<=0.12 # TODO
# drf-nested-routers==0.90.0 # python-drf-nested-routers (0.90.0 in our ppa)
# drf-openapi==1.3.0 # python-drf-openapi (1.3.0 in our ppa)
# oauthlib==2.0.1 # python-oauthlib (2.0.6 in our ppa) FIXME
oauthlib==3.0.0

# geopython dependencies
pyproj>=1.9.5,<2.2.3.0
OWSLib==0.18.0
pycsw==2.4.0
SQLAlchemy==1.3.12 # required by PyCSW
Shapely==1.6.4.post2
mercantile==1.1.2
geoip2==3.0.0
numpy==1.16.*

# # Apps with packages provided in GeoNode's PPA on Launchpad.

# Django Apps
dj-database-url==0.5.0
dj-pagination==2.4.0
pinax-notifications==5.0.3
pinax-ratings==3.0.3
django-celery-monitor<=1.1.2
django-celery-beat==1.5.0
django-floppyforms<1.9.0
django-forms-bootstrap<=3.1.0
geonode-django-activity-stream==0.9.0
django-autocomplete-light==3.5.0
django-basic-authentication-decorator==0.9
django-leaflet==0.26.0
django-invitations<=1.9.2
django-recaptcha==2.0.5
geonode-oauth-toolkit==1.1.4.6

# GeoNode org maintained apps.
django-geoexplorer==4.0.43
django-mapstore-adapter==1.0.17
django-geonode-mapstore-client==1.4.8
django-geonode-client==1.0.9
geonode-user-messages==0.1.15
geonode-avatar==2.1.8
geonode-announcements==1.0.13
arcrest>=10.0
geonode-dialogos==3.0
geoserver-restconfig==1.0.5
gn-gsimporter==1.0.17
gisdata==0.5.4

# haystack/elasticsearch
django-haystack==2.8.1
elasticsearch>=2.0.0,<8.0.0

# datetimepicker widget
django-bootstrap3-datetimepicker-2==2.8.2

# AWS S3 dependencies
django-storages==1.8

# Django Caches
python-memcached<=1.59

# Contribs
xmltodict<0.12.1
inflection<=0.3.1
jdcal==1.4.1
mock<4.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
timeout-decorator==0.4.1

# required by monitoring
psutil==5.6.7
django-cors-headers==3.0.2
django-multi-email-field<=0.5.1
user-agents
xmljson
django-ipware<2.2
# no version here, use latest one with fresh data
pycountry

# production
uWSGI==2.0.18
gunicorn==19.10.0
ipython==5.8.0
docker==4.1.0
invoke==1.4.0

# tests
coverage==5.0.3
parse-type==0.5.2
requests-toolbelt==0.9.1
flake8==3.7.9
pytest==4.6.9
pytest-bdd==3.2.1
splinter==0.13.0
pytest-splinter==2.0.1
pytest-django==3.7.0
setuptools==44.0.0
Twisted==19.10.0
