body.printable {
    padding: 4pt;
    font-family: "Source Sans Pro", sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    margin-top: 1.1em;
    margin-bottom: 1.2em;
}
.break-page {
    page-break-after: always;
}
.chart-container {
    paddint: 1em;
}
.footer {
    position: absolute;
    bottom: 10%;
}
