{% load i18n %}
{% autoescape off %}
<p>
<strong>{{ inviter_name }}</strong> is inviting you to join {{ site_name }}
</p>
<p>
To do so, please register at:<br><br>
    <a href="{{ invite_url }}">{{ site_name}} registration</a>
</p>
<p>
<strong>{{ inviter_name }}</strong> manages the following groups:<br>
<ul>
{% for group in groups %}
<li><i>{{ group }}</i></li>
{% endfor %}
</ul>
</p>
<p>
After registering, send to <strong>{{ inviter_first_name }}</strong> a message through <a href="{{ SITEURL }}{% url 'message_create' inviter_id %}?subject=Request%20to%20join%20your%20group&content=Dear%20group%20manager%2C%0A%0AI%20am%20now%20a%20member%20of%20{{ site_name }}%2C%20and%20I%20would%20like%20to%20join%20the%20group%20that%20you%20are%20managing.%0APlease%20add%20me%20to%20your%20group.%0A%0AThank%20you.">this link</a> expressing your willingness to join her/his group(s).
</p>
<p>
Best regards
</p>
{% endautoescape %}
