.disaster {
  @import (less) "./risk.css";
}

.disaster {
  font-family: @font-family-sans-serif;
  margin: 0;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

@import "./variables.less";
@import "./font-awesome.min.css";
